* { 
     margin: 0;
   }
.app {
  background-color: #fafafa;
 
}


.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.app_signup{
  display: flex;
  flex-direction: column;
}

.app__headerImage{
  object-fit: contain;
}
.app__posts{
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: center;

}

.app__postsRight{
  margin-left: 20px;
}